* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 50%;
    margin: auto;
}

.controle{
    text-align: center;
}

.controle img {
    max-width: 5%;
    margin-right: 5%;
    cursor: pointer;
}

.container video {
    max-width: 100%;
}